# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Poetry
poetry.lock

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
*.log
.DS_Store

# config file
.env
di_config
